h3{
   font-family:  Palatino Linotype, sans-serif !important;
   font-weight: 300;
}
a.bod:hover{
      color:#ad8b3a !important;
}
a.bod{
   color:#45443f !important;
}
.bodyCarousel .carousel-control-prev-icon,
.bodyCarousel .carousel-control-next-icon{
  border: 1px solid white; 
  background-color: rgba(255, 249, 249, 0.315);
  border-radius: 50%;  
  width: 40px;                
  height: 40px;
  background-size: 60% 60%;    
  background-position: center;
}
