.bottomCarousel .carousel-control-prev-icon,
.bottomCarousel .carousel-control-next-icon{
  border: 1px solid rgb(238, 162, 12); 
  background-color: rgb(46, 44, 41);
  border-radius: 50%;  
  width: 40px;                
  height: 40px;
  background-size: 60% 60%;    
  background-position: center;
}
.bottomCarousel .carousel-control-next {
  right: -12px;
}
.bottomCarousel .carousel-control-prev {
  left: -12px;
}
.bot{
    font-family:Cinzel, Palatino Linotype, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing:1px;
}
